@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary: #0063f5;
  --red: #d90429;
  --dark-blue: #203ed6;
  --orange: #ff6d00;
  --grey-border-color: #dfe2e4;
  --green: #21bf73;
  --main-bg: #f8f9fa;
  --card-box-shadow: 0 0 10px 4px #d0d0d0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
